<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @log_event.teacher %>
</p>

<p>
  <strong>Event time:</strong>
  <%= @log_event.event_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @log_event.description %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @log_event.event_type %>
</p>

<%= link_to 'Edit', edit_log_event_path(@log_event) %> |
<%= link_to 'Back', log_events_path %>
